Flask==3.0.3
Flask-SocketIO==5.3.6
Werkzeug==3.0.3
gunicorn==22.0.0
gevent==24.2.1
gevent-websocket==0.10.1
Flask-SQLAlchemy==3.1.1
authlib
requests
cloudinary
python-dotenv
flask-login
google-generativeai>=0.8.3
